### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [24]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [25]:
#count total number of unique screen names
total_players = purchase_data["SN"].nunique()
#make total_players appear as date frame
total_players_dict = [{"Total Players":total_players}]
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
#find the number of unique items
unique_items = purchase_data["Item ID"].nunique()
#find the average price 
average_price = purchase_data["Price"].mean()
#find the number of purchases
number_of_purhcases = purchase_data["Purchase ID"].count()
#calculate the total revenue
total_revenue = purchase_data["Price"].sum()
#make above values into summary data frame seen below
purchasing_analysis = [{"Number of Unique Items":unique_items, 
                       "Average Price": average_price,
                       "Number of Purchases": number_of_purhcases, 
                       "Total Revenue": total_revenue}]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
#clean up format of numbers (optional)
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [27]:
#drop duplicatie SN to count M/F/other
unique_sn = purchase_data.drop_duplicates(subset=['SN'])
#count the number of M/F/other
gender_counts = unique_sn["Gender"].value_counts()
total_count = len(unique_sn["Gender"])
#calculate the percentage of players
gender_df = pd.DataFrame(gender_counts / total_count * 100) 
#Add total count to DataFrame
gender_df["Total Count"] = gender_counts
#Restructure the DataFrame
gender_df = gender_df[["Total Count", "Gender"]]
gender_df = gender_df.rename(columns={"Gender":"Percentage of Players"})
#Format percentages 
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}%".format)
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
#Males: Calculate the purchase count, avg.purchase price, total purchase value and avg. total purchase
males = purchase_data.loc[purchase_data["Gender"] == "Male", :]
m_purchase_count = len(males)
m_total_purchase_value = males["Price"].sum()
m_avg_purchase_price = (m_total_purchase_value/m_purchase_count)
#Males: Average total per person 


#Females: Calculate the purchase count, avg.purchase price, total purchase value and avg. total purchase
females = purchase_data.loc[purchase_data["Gender"] == "Female", :]
fm_purchase_count = len(females)
fm_total_purchase_value = females["Price"].sum()
fm_avg_purchase_price = (fm_total_purchase_value/fm_purchase_count)
#Females: Average total per person


#Other/NonDisclosed: Calculate the purchase count, avg.purchase price, total purchase value and avg. total purchase
other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
o_purchase_count = len(other)
o_total_purchase_value = other["Price"].sum()
o_avg_purchase_price = (o_total_purchase_value/o_purchase_count)
#Females: Average total per person


#Create a dataframe to hold all values
gender_analysis_df = pd.DataFrame({"Gender" : ["Female", "Male", "Other/Non-Disclosed"],
                      "Purchase Count" : [fm_purchase_count, m_purchase_count, o_purchase_count],
                      "Average Purchase Price" : [fm_avg_purchase_price, m_avg_purchase_price, o_avg_purchase_price],
                      "Total Purchase Value" : [fm_total_purchase_value, m_total_purchase_value, o_total_purchase_value],
                      "Avg Total Purchase per Person" : [" ", " ", " "]})
#Format values to look nice
gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:.2f}".format)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].map("${:.2f}".format)
#gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
#Display summary dataframe
gender_analysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,
1,Male,652,$3.02,$1967.64,
2,Other/Non-Disclosed,15,$3.35,$50.19,

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [56]:
#make unique sn into a data frame so that each user is only listed once
unique_df = pd.DataFrame(unique_sn)
#Establish bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
#Categorize existing players using the age bins
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
unique_df["Age Range"] = pd.cut(unique_df["Age"], bins, labels=age_names, include_lowest=True)
#Calculate the totals for each age range
unique_df = unique_df.groupby("Age Range")
age_counts = unique_df.count()
age_counts = age_counts.drop(columns=["SN", "Age", "Gender", "Item ID", "Item Name", "Price"])
age_counts = age_counts.rename(columns={"Purchase ID":"Total Counts"})
#Calculate the total number of players
total_players = len(unique_sn)
#Calculate the percentage for each age range
age_counts["Percentage of Players"] = (age_counts / total_players * 100)
#Round percentages column to two decimal points (optional)
age_counts["Percentage of Players"] = age_counts["Percentage of Players"].map("{:.2f}%".format)
#Display age demographcis table
age_counts

           Total Counts Percentage of Players
Age Range
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [63]:
#bin the purchase_data DF by age
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_analysis_age = purchase_data
purchase_analysis_age["Age Range"] = pd.cut(purchase_analysis_age["Age"], bins, labels=age_names, include_lowest=True)
#Calculate purchase count
purchase_analysis_age = purchase_analysis_age.groupby("Age Range")
purchase_analysis_age = purchase_analysis_age.count()
purchase_analysis_age = purchase_analysis_age.drop(columns=["SN", "Age", "Gender", "Item ID", "Item Name", "Price"])
purchase_analysis_age = purchase_analysis_age.rename(columns={"Purchase ID":"Purchase Count"})
#Calculate avg purchase price

#Calculate total purchase value
#purchase_analysis_age["Total Purchase Value"] 
#Calculate avg purchase total per person
#Create a summary DF
#Clean up format (optional)
#Display summary DF

           Purchase Count
Age Range
<10                    23
10-14                  28
15-19                 136
20-24                 365
25-29                 101
30-34                  73
35-39                  41
40+                    13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame