### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#count total number of unique screen names
total_players = purchase_data["SN"].nunique()
#make total_players appear as date frame
total_players_dict = [{"Total Players":total_players}]
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#find the number of unique items
unique_items = purchase_data["Item ID"].nunique()
#find the average price 
average_price = purchase_data["Price"].mean()
#find the number of purchases
number_of_purhcases = purchase_data["Purchase ID"].count()
#calculate the total revenue
total_revenue = purchase_data["Price"].sum()
#make above values into summary data frame seen below
purchasing_analysis = [{"Number of Unique Items":unique_items, 
                       "Average Price": average_price,
                       "Number of Purchases": number_of_purhcases, 
                       "Total Revenue": total_revenue}]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
#clean up format of numbers (optional)
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
#drop duplicatie SN to count M/F/other
unique_sn = purchase_data.drop_duplicates(subset=['SN'])
unique_sn
#count the number of M/F/other
gender_counts = unique_sn["Gender"].value_counts()
total_count = len(unique_sn["Gender"])
#calculate the percentage of players
gender_df = pd.DataFrame(gender_counts / total_count * 100) 
#Add total count to DataFrame
gender_df["Total Count"] = gender_counts
#Restructure the DataFrame
gender_df = gender_df[["Total Count", "Gender"]]
gender_df = gender_df.rename(columns={"Gender":"Percentage of Players"})
#Format percentages 
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}%".format)
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
purchase_data.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

In [46]:
#Males: Calculate the purchase count, avg.purchase price, total purchase value and avg. total purchase
males = purchase_data.loc[purchase_data["Gender"] == "Male", :]
m_purchase_count = len(males)
m_total_purchase_value = males["Price"].sum()
m_avg_purchase_price = (m_total_purchase_value/m_purchase_count)
#Males: Average total per person 


#Females: Calculate the purchase count, avg.purchase price, total purchase value and avg. total purchase
females = purchase_data.loc[purchase_data["Gender"] == "Female", :]
fm_purchase_count = len(females)
fm_total_purchase_value = females["Price"].sum()
fm_avg_purchase_price = (fm_total_purchase_value/fm_purchase_count)
#Females: Average total per person


#Other/NonDisclosed: Calculate the purchase count, avg.purchase price, total purchase value and avg. total purchase
other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
o_purchase_count = len(other)
o_total_purchase_value = other["Price"].sum()
o_avg_purchase_price = (o_total_purchase_value/o_purchase_count)
#Females: Average total per person


#Create a dataframe to hold all values
#Format values to look nice
#Display summary dataframe
#gender_analysis_df

3.3459999999999996

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame