### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#count total number of unique screen names
total_players = purchase_data["SN"].nunique()
#make total_players appear as date frame
total_players_dict = [{"Total Players":total_players}]
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#find the number of unique items
unique_items = purchase_data["Item ID"].nunique()
#find the average price 
average_price = purchase_data["Price"].mean()
#find the number of purchases
number_of_purhcases = purchase_data["Purchase ID"].count()
#calculate the total revenue
total_revenue = purchase_data["Price"].sum()
#make above values into summary data frame seen below
purchasing_analysis = [{"Number of Unique Items":unique_items, 
                       "Average Price": average_price,
                       "Number of Purchases": number_of_purhcases, 
                       "Total Revenue": total_revenue}]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
#clean up format of numbers (optional)
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#drop duplicatie SN to count M/F/other
unique_sn = purchase_data.drop_duplicates(subset=['SN'])
#count the number of M/F/other
gender_counts = unique_sn["Gender"].value_counts()
total_count = len(unique_sn["Gender"])
#calculate the percentage of players
gender_df = pd.DataFrame(gender_counts / total_count * 100) 
#Add total count to DataFrame
gender_df["Total Count"] = gender_counts
#Restructure the DataFrame
gender_df = gender_df[["Total Count", "Gender"]]
gender_df = gender_df.rename(columns={"Gender":"Percentage of Players"})
#Format percentages 
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}%".format)
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Calculate purchase count
purchase_analysis_gender = purchase_data.groupby("Gender").count()
purchase_analysis_gender = purchase_analysis_gender.drop(columns=["SN", "Age", "Item ID", "Item Name", "Price"])
purchase_analysis_gender = purchase_analysis_gender.rename(columns={"Purchase ID":"Purchase Count"})
#Calculate avg purchase price
g_app = purchase_data.groupby("Gender").mean()
purchase_analysis_gender["Average Purchase Price"] = g_app["Price"].map("${:.2f}".format)
#Calculate total purchase value
tpv = purchase_data.groupby("Gender").sum()
purchase_analysis_gender["Total Purchase Value"] = tpv["Price"].map("${:.2f}".format)
#Calculate avg purchase total per person
user_per_gender = purchase_data.groupby("Gender").nunique()
purchase_analysis_gender["Avg Total Purchase per Person"] = (tpv["Price"] / user_per_gender["SN"]).map("${:.2f}".format)
#Display summary DF
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#make unique sn into a data frame so that each user is only listed once
unique_df = pd.DataFrame(unique_sn)
#Establish bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
#Categorize existing players using the age bins
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
unique_df["Age Range"] = pd.cut(unique_df["Age"], bins, labels=age_names, include_lowest=True)
#Calculate the totals for each age range
unique_df = unique_df.groupby("Age Range")
age_counts = unique_df.count()
age_counts = age_counts.drop(columns=["SN", "Age", "Gender", "Item ID", "Item Name", "Price"])
age_counts = age_counts.rename(columns={"Purchase ID":"Total Counts"})
#Calculate the total number of players
total_players = len(unique_sn)
#Calculate the percentage for each age range
age_counts["Percentage of Players"] = (age_counts / total_players * 100)
#Round percentages column to two decimal points (optional)
age_counts["Percentage of Players"] = age_counts["Percentage of Players"].map("{:.2f}%".format)
#Display age demographcis table
age_counts

           Total Counts Percentage of Players
Age Range
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#bin the purchase_data DF by age
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_analysis_age = purchase_data
purchase_analysis_age["Age Range"] = pd.cut(purchase_analysis_age["Age"], bins, labels=age_names, include_lowest=True)
#Calculate purchase count
purchase_analysis_age = purchase_analysis_age.groupby("Age Range").count()
purchase_analysis_age = purchase_analysis_age.drop(columns=["SN", "Age", "Gender", "Item ID", "Item Name", "Price"])
purchase_analysis_age = purchase_analysis_age.rename(columns={"Purchase ID":"Purchase Count"})
#Calculate avg purchase price
avg_purchase_price = purchase_data.groupby("Age Range").mean()
purchase_analysis_age["Average Purchase Price"] = avg_purchase_price["Price"].map("${:.2f}".format)
#Calculate total purchase value
total_purchase_value = purchase_data.groupby("Age Range").sum()
purchase_analysis_age["Total Purchase Value"] = total_purchase_value["Price"].map("${:.2f}".format)
#Calculate avg purchase total per person
user_per_age = purchase_data.groupby("Age Range").nunique()
purchase_analysis_age["Avg Total Purchase per Person"] = (total_purchase_value["Price"] / user_per_age["SN"]).map("${:.2f}".format)
#Display summary DF
purchase_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [52]:
#Get purchase count for each user
count_per_user = purchase_data.groupby("SN").count()
top_spenders = count_per_user.drop(columns=["Age", "Gender", "Item ID", "Item Name", "Price", "Age Range"])
top_spenders = top_spenders.rename(columns={"Purchase ID" : "Purchase Count"})
#Calculate Average purchase price per user
price_per_user = purchase_data.groupby("SN").mean()
top_spenders["Average Purchase Price"] = price_per_user["Price"].map("${:.2f}".format)
#Calculate the Total Purchase Value per user
total_per_user = purchase_data.groupby("SN").sum()
top_spenders["Total Purchase Value"] = total_per_user["Price"]
#Sort values by the Total Purchase Value in descending order
top_spenders["Total Purchase Value"] = pd.to_numeric(top_spenders["Total Purchase Value"])
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)
#Display DF
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
#Retrieve the Item ID, Item Name, and Item Price columns
items = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name
#Calculations to obtain purchase count
purchase_count = items.groupby(["Item ID", "Item Name"]).count()
most_pop_items = purchase_count.rename(columns={"Price" : "Purchase Count"})
#Calculations to obtain average item price
avg_item_price = items.groupby(["Item ID", "Item Name"]).mean()
most_pop_items["Item Price"] = avg_item_price["Price"].map("${:.2f}".format)
#Calculations to obtain total purchase value
total_value = items.groupby(["Item ID", "Item Name"]).sum()
most_pop_items["Total Purchase Value"] = total_value["Price"]
#Sort purchase count column descending
most_pop_items = most_pop_items.sort_values("Purchase Count", ascending=False)
#Display DF
most_pop_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
132,Persuasion,9,$3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [51]:
#Sort total purchase value column descending
most_pop_items = most_pop_items.sort_values("Total Purchase Value", ascending=False)
most_pop_items["Total Purchase Value"] = most_pop_items["Total Purchase Value"].map("${:.2f}".format)
#Display DF
most_pop_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80